// Global Variables
.hidden {
    display: none;
}

.row {
    display: flex;
    justify-items: left;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Board CSS
.board {
    background-color: bisque;
    width: 400px;
    height: 400px;
}

.board-piece {
    margin: 15px;
    background-color: brown;
    width: 40px;
    height: 40px;
}

